# OS / IDE
.DS_Store
.vscode/
__pycache__/
*.pyc

# Python
.venv/
.env
*.egg-info/
dist/
build/

# Streamlit
.streamlit/secrets.toml

# Data (keep folder but ignore contents)
data/
!data/.gitkeep

# Notebooks checkpoints
**/.ipynb_checkpoints/
